<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
  <div th:fragment="selectdiv" id="selectcategory">
    <select id="singleSelectAjax" name="selectedItemAjax">
      <option value="">---</option>
      <option id="ajaxOption" th:each="status : ${statusList}"
        th:value="${status.statusId}" th:text="${status.statusName}">childselectbox</option>
    </select>
  </div>

  <div th:fragment="odr_add_selectdiv" id="selectcategory">
    <select id="statusId" name="statusId">
      <option value="">---</option>
      <option id="ajaxOption" th:each="status : ${statusList}"
        th:value="${status.statusId}" th:text="${status.statusName}">childselectbox</option>
    </select>
  </div>
</body>
</html>
