<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>製造部売上管理システム</title>
<link rel="stylesheet" href="/css/sb-salesmanagement.css">
</head>
<body>
<h1>製造部売上管理システム：案件編集(確認)</h1>
 <div class="container">
    <table class="table-confirm" th:object="${orderModifyForm}">
      <tr>
        <th class="confirm-title">顧客</th>
        <th class="confirm-required"></th>
        <td th:object="${customer}" th:text="*{customerName}"></td>
      </tr>
      <tr>
        <th class="confirm-title">受注日</th>
        <th class="confirm-required"></th>
        <td th:text="${not #strings.isEmpty(orderModifyForm.orderDate)}? ${orderModifyForm.orderDate} : '-'"></td>
      </tr>
      <tr>
        <th class="confirm-title">S番号</th>
        <th class="confirm-required"></th>
        <td th:text="${not #strings.isEmpty(orderModifyForm.orderSNumber)}? 'S-' + ${orderModifyForm.orderSNumber} : '-'"></td>
      </tr>
      <tr>
        <th class="confirm-title">件名</th>
        <th class="confirm-required"></th>
        <td th:text="*{orderName}"></td>
      </tr>
      <tr>
        <th class="confirm-title">数量/単位</th>
        <th class="confirm-required"></th>
        <td
          th:text="${#numbers.formatInteger(orderModifyForm.orderQuantity ,1,'COMMA')} + *{unitName}"></td>
      </tr>
      <tr>
        <th class="confirm-title">納入指定日</th>
        <th class="confirm-required"></th>
        <td
          th:text="${not #strings.isEmpty(orderModifyForm.deliverySpecifiedDate)}? ${orderModifyForm.deliverySpecifiedDate} : '-'"></td>
      </tr>
      <tr>
        <th class="confirm-title">納入日</th>
        <th class="confirm-required"></th>
        <td
          th:text="${not #strings.isEmpty(orderModifyForm.deliveryDate)}? ${orderModifyForm.deliveryDate} : '-'"></td>
      </tr>
      <tr>
        <th class="confirm-title">請求日</th>
        <th class="confirm-required"></th>
        <td
          th:text="${not #strings.isEmpty(orderModifyForm.billingDate)}? ${orderModifyForm.billingDate} : '-'"></td>
      </tr>
      <tr>
        <th class="confirm-title">見積金額</th>
        <th class="confirm-required"></th>
        <td
          th:text="'\\' + ${#numbers.formatInteger(orderModifyForm.quotePrice ,1,'COMMA')}"></td>
      </tr>
      <tr>
        <th class="confirm-title">受注金額</th>
        <th class="confirm-required"></th>
        <td
          th:text="'\\' + ${#numbers.formatInteger(orderModifyForm.orderPrice ,1,'COMMA')}"></td>
      </tr>
      <tr>
        <th class="confirm-title">ステータス</th>
        <th class="confirm-required"></th>
        <td th:object="${status}" th:text="*{statusName}"></td>
      </tr>
      <tr>
        <th class="confirm-title">備考</th>
        <th class="confirm-required"></th>
        <td th:text="*{orderRemarks}"></td>
      </tr>
    </table>
    <form th:action="@{/salesmanagement/update_order}"
      th:object="${orderModifyForm}" th:method="post">
      <input id="customerId" name="customerId" type="hidden"
        th:value="*{customerId}"> <input id="orderDate"
        name="orderDate" type="hidden" th:value="*{orderDate}">
      <input id="orderSNumber" name="orderSNumber" type="hidden" th:value="*{orderSNumber}">
      <input id="orderName" name="orderName" type="hidden"
        th:value="*{orderName}">
        <input id="orderQuantity" name="orderQuantity" type="hidden" th:value="*{orderQuantity}">
        <input id="unitName" name="unitName" type="hidden" th:value="*{unitName}">
        <input id="deliverySpecifiedDate" name="deliverySpecifiedDate" type="hidden" th:value="*{deliverySpecifiedDate}">
        <input id="deliveryDate" name="deliveryDate" type="hidden" th:value="*{deliveryDate}">
        <input id="billingDate" name="billingDate" type="hidden" th:value="*{billingDate}">
        <input id="quotePrice" name="quotePrice" type="hidden" th:value="*{quotePrice}">
        <input id="orderPrice" name="orderPrice" type="hidden" th:value="*{orderPrice}">
        <input id="statusId" name="statusId" type="hidden" th:value="*{statusId}">
        <input id="orderRemarks" name="orderRemarks" type="hidden" th:value="*{orderRemarks}">
      <div class="btn-area-center">
        <input type="submit" value="確認" class="btn"> <input
          class="back" type="button" value="戻る" onclick="history.back();">
      </div>
    </form>
  </div>
</body>
</html>